$border: 2px solid $off-black !default;
$border-link: 1px solid $off-black !default;
$gradient: rgba(255, 255, 255, 0.65) !default;
$box-padding: 24px;
$white-overlay: linear-gradient(rgba(#FFF, 0.5), rgba(#FFF, 0.5)) !default;

.full-height {
	height: 100vh;
	background-image: url("/img/nasa.jpg");
	background-color: grey;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.cta {
	text-transform: uppercase;
	color: $off-black;
	position: relative;
	padding-bottom: 8px;

	._border {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background: $off-black;
		transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	}

	&:hover ._border {
		transform: translateY(5px);
	}
}

.box {
	background-image: $white-overlay, url("/img/nasa-blur.jpg");
	// background-image: $white-overlay;
	background-repeat: no-repeat;
	background-attachment: fixed;

	p { margin: 0; }
	.bold { margin-bottom: 8px; }

	&_top {
		padding: $box-padding;

		border: $border;
	}

	&_middle, &_bottom {
		padding: $box-padding;

		border-left: $border;
		border-right: $border;
		border-bottom: $border;

		ul { margin: 0 }
		li:not(:last-child) { margin-bottom: 1em; }
	}

	a:not(.cta) {
		color: $off-black;
		padding-bottom: 2px;
		border-bottom: $border-link;
		transition: all 0.2s ease;
	}
}
