
// Default Styles
// ******************************

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

ul {
	&:not(.browser-default) {
		padding-left: 0;
		list-style-type: none;

		li {
			list-style-type: none;
		}
	}
}

a {
	// GETS RID OF TAP ACTIVE STATE
	-webkit-tap-highlight-color: transparent;
}


// CLASSIC CLEARFIX
.clearfix {
	clear: both;
}

.full-height {
	min-height: 100vh;
	min-width: 100vw;

	padding: $box-padding * 2;
	@media #{$small-and-down} { padding: $box-padding; }

	background-color: $bg-color;
	background-repeat: no-repeat;
	background-attachment: fixed;

	&__image { background-image: $bg-image; }
}

// CENTER WRAPPER
.aligner {
	@media #{$medium-and-up} {
		display: flex;
		align-items: center;
		justify-content: center;

		&__center { max-width: 50%; }
	}
}

// Media Query Classes
// ******************************

.hide-on-small-only, .hide-on-small-and-down {
	@media #{$small-and-down} { display: none !important; }
}
.hide-on-med-and-down {
	@media #{$medium-and-down} { display: none !important; }
}
.hide-on-med-and-up {
	@media #{$medium-and-up} { display: none !important; }
}
.hide-on-med-only {
	@media only screen and (min-width: $small-screen) and (max-width: $medium-screen) { display: none !important; }
}
.hide-on-large-only {
	@media #{$large-and-up} { display: none !important; }
}
.show-on-large {
	@media #{$large-and-up} { display: block !important; }
}
.show-on-medium {
	@media only screen and (min-width: $small-screen) and (max-width: $medium-screen) { display: block !important; }
}
.show-on-small {
	@media #{$small-and-down} { display: block !important; }
}
.show-on-medium-and-up {
	@media #{$medium-and-up} { display: block !important; }
}
.show-on-medium-and-down {
	@media #{$medium-and-down} { display: block !important; }
}

// CENTER TEXT ON MOBILE
.center-on-small-only {
	@media #{$small-and-down} { text-align: center; }
}

// Utility Classes
// ******************************

.hide {
	display: none !important;
}

// TEXT ALIGN
.left-align {
	text-align: left;
}
.right-align {
	text-align: right
}
.center, .center-align {
	text-align: center;
}

.left {
	float: left !important;
}
.right {
	float: right !important;
}

// NO TEXT SELECT
.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.truncate {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.no-padding { padding: 0 !important; }
.no-margin { margin: 0 !important; }

// Social Media Classes
// ******************************
.social {
	&__GitHub { color: $github; padding-bottom: 2px; border-bottom: 1px solid $github; }
	&__Twitter { color: $twitter; padding-bottom: 2px; border-bottom: 1px solid $twitter; }
	&__Medium { color: $medium; padding-bottom: 2px; border-bottom: 1px solid $medium; }
	&__Dribbble { color: $dribbble; padding-bottom: 2px; border-bottom: 1px solid $dribbble; }
}
