
// The Box
// ******************************

.box {
	// BOX
    max-width: $box-max-width;
	background-image: $white-overlay;
	background-repeat: no-repeat;
	background-attachment: fixed;

	// BOX BACKGROUND
	&__image { background-image: $white-overlay, $bg-image-blur; }

	// INTERNALS
	&__top, &__middle, &__bottom { border: $border; padding: $box-padding; }

	&__bottom:empty { padding: 0; }

	&__top + &__middle,
	&__middle + &__middle,
	&__middle + &__bottom { border-top: none; }

	&__middle + &__bottom:empty { border: none; }

	&__middle:last-child { border-bottom: none; }

	// ELEMENT OVERIDES
	&__top p { margin: 0; }

	&__middle, &__bottom {
		p:first-child { margin-top: 0; }

		p:last-child { margin-bottom: 0; }

		p.list-header { margin-bottom: .5em; }

		ul {
			margin: 0;
			li:not(:last-child) { margin-bottom: 1em; }
		}

		small {
			@media #{$small-and-down} { display: block; margin-top: .5em; }
		}

	}

	// LINK STYLING
	a:not([class*="social__"]) {
		color: $off-black;
		padding-bottom: 2px;
		border-bottom: $border-link;
	}
}



