
// Colors
// ******************************

$off-black: rgba(0, 0, 0, 0.85) !default;

$twitter: #1da1f2 !default;
$github: #6762a6 !default;
$dribbble: #c13584 !default;
$medium: #00AB6C !default;

$gradient: rgba(#FFF, 0.70) !default;
$white-overlay: linear-gradient($gradient, $gradient) !default;

// Backgrounds
// ******************************

$bg-color: #34495E !default;

$bg-image: url("/img/nasa.jpg") !default;
$bg-image-blur: url("/img/nasa-blur.jpg") !default;


// The Box
// ******************************

$border: 2px solid $off-black !default;
$border-link: 1px solid $off-black !default;
$box-padding: 24px;
$box-max-width: 560px;

// Media Queries
// ******************************

$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

// Header Styles
// ******************************

$h1-fontsize: 4.2rem !default;
$h2-fontsize: 3.56rem !default;
$h3-fontsize: 2.92rem !default;
$h4-fontsize: 2.28rem !default;
$h5-fontsize: 1.64rem !default;
$h6-fontsize: 1.32rem !default;