html {
	box-sizing: border-box;
	font-size: 16px;
	background-color: $bg-color;
}

*,
*:after,
*:before {
	box-sizing: inherit;
}

.list-header { margin-bottom: 0.5em; }
.social-header { margin-bottom: 0; }

ul {
	&:not(.browser-default) {
		padding-left: 0;
		list-style-type: none;

		li { list-style-type: none; }
	}
}

// CLASSIC CLEARFIX
.clearfix {
	clear: both;
}

.background {
	background-color: $bg-color;

	&__image {
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-image: $bg-image;
	}

	padding: $box-padding * 2;
	@media #{$small-and-down} { padding: $box-padding; }

	min-height: 100vh;
	min-width: 100vw;
}

// CENTER WRAPPER
.valigner {
	@media #{$medium-and-up} {
		display: flex;
		align-items: center;
	}

	&__center { justify-content: center; }
	&__left   { justify-content: flex-start; }
	&__right  { justify-content: flex-end; }
}
// Media Query Classes
// ******************************

.hide-on-small-and-down,
.hide-on-small-only {
	@media #{$small-and-down} { display: none !important; }
}
.hide-on-med-and-down {
	@media #{$medium-and-down} { display: none !important; }
}
.hide-on-med-and-up {
	@media #{$medium-and-up} { display: none !important; }
}
.hide-on-med-only {
	@media only screen and (min-width: $small-screen) and (max-width: $medium-screen) { display: none !important; }
}
.hide-on-large-only {
	@media #{$large-and-up} { display: none !important; }
}
.show-on-large {
	@media #{$large-and-up} { display: block !important; }
}
.show-on-medium {
	@media only screen and (min-width: $small-screen) and (max-width: $medium-screen) { display: block !important; }
}
.show-on-small {
	@media #{$small-and-down} { display: block !important; }
}
.show-on-medium-and-up {
	@media #{$medium-and-up} { display: block !important; }
}
.show-on-medium-and-down {
	@media #{$medium-and-down} { display: block !important; }
}

// CENTER TEXT ON MOBILE
.center-on-small-only {
	@media #{$small-and-down} { text-align: center; }
}

// Utility Classes
// ******************************

.hide { display: none !important; }

// TEXT ALIGN
.left-align { text-align: left; }
.right-align { text-align: right; }

.center,
.center-align { text-align: center; }

.left { float: left !important; }
.right { float: right !important; }

.truncate {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.white-text { color: #fff !important; }

.no-padding { padding: 0 !important; }
.no-margin { margin: 0 !important; }

// Cool Links
// ******************************

section {
	position: relative;
	z-index: 1;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

	a {
		position: relative;
		display: inline-block;
		outline: none;
		vertical-align: bottom;
		text-decoration: none;
		white-space: nowrap;

		&:not([class*="social__"]) {
			color: $off-black;
			border-bottom: $border-link;
		}

		&::after,
		&::before {
			pointer-events: none;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			-webkit-font-smoothing: antialiased;
			font-smoothing: antialiased;
		}
	}
}

a {
	overflow: hidden;
	font-weight: 500;

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		background-color: rgba($black, 0.12);
		content: '';
		-webkit-transition: -webkit-transform 0.2s;
		transition: transform 0.2s;
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
	}

	&:focus::before,
	&:hover::before {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

// Social Media Classes
// ******************************

.social__Links {
	display: inline-block;
	margin: 0.5rem 0 0;
}

.social {
	&__GitHub {
		color: $github;
		padding-bottom: 2px;
		border-bottom: 2px solid $github;
		&::before { background-color: rgba($github, 0.12); }
	}

	&__Twitter {
		color: $twitter;
		padding-bottom: 2px;
		border-bottom: 2px solid $twitter;
		&::before { background-color: rgba($twitter, 0.12); }
	}

	&__Medium {
		color: $medium;
		padding-bottom: 2px;
		border-bottom: 2px solid $medium;
		&::before { background-color: rgba($medium, 0.12); }
	}

	&__Dribbble {
		color: $dribbble;
		padding-bottom: 2px;
		border-bottom: 2px solid $dribbble;
		&::before { background-color: rgba($dribbble, 0.12); }
	}

	&__Keybase {
		color: $keybase;
		padding-bottom: 2px;
		border-bottom: 2px solid $keybase;
		&::before { background-color: rgba($keybase, 0.12); }
	}
}
