.box {
    max-width: $box-max-width;

	background-image: $white-overlay;
	background-repeat: no-repeat;
	background-attachment: fixed;

	&__image { background-image: $white-overlay, $bg-image-blur; }

	// INSIDES

	&__top, &__middle, &__bottom {
		padding: $box-padding;

		p {
			&:first-child { margin-top: 0; }
			&:last-child { margin-bottom: 0; }
		}
	}

	&__top {
		border-top: $border;
		border-right: $border;
		border-left: $border;
	}

	&__middle {
		border-top: $border;
		border-right: $border;
		border-left: $border;

		ul {
			margin: 0;
			li:not(:last-child) { margin-bottom: 1em; }
		}
		small {
			@media #{$small-and-down} { display: block; margin-top: .5em; }
		}
	}

	&__bottom {
		border-top: $border;
		border-right: $border;
		border-bottom: $border;
		border-left: $border;

		&:empty {
			border-bottom: none;
			padding: 0;
		}
	}
}